<%- include("../includes/head.ejs") %>
<body>
    <%- include("../includes/navigation.ejs") %>
    <main>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.title %></h1>
                        <h2>Quantity: <%= p.cartItem.quantity %></h2>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p.id %>" name="productId">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>Cart Page</h1>
            <p>List of all products Cart</p>
            <h1> No Product in Cart!</h1>
        <% } %>
    </main>

    <%- include("../includes/end.ejs") %>
