<%- include("../includes/head.ejs") %>
<body>
    <%- include("../includes/navigation.ejs") %>
    <main>
        <% if (orders.length <= 0) { %>
            <h1>Orders Page</h1>
            <p>List of all orders products</p>
            <h1>No order items in Orders Page</h1>
        <% } else { %>
            <ul class="orders">
                <% orders.forEach(order => { %>
                    <li class="orders__item">
                        <h1>order - # <%= order._id %></h1>
                        <ul class="orders__products">
                            <% order.products.forEach(prd => { %>
                                <li class="orders__products-item"><%= prd.product.title %> (<%= prd.quantity %>)</li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        <%  } %>
    </main>

    <%- include("../includes/end.ejs") %>
