<%- include("../includes/head.ejs") %>
<head>
</head>
<body>
    <%- include("../includes/navigation.ejs") %>
    <main>
        <ul class="cart__item-list">
            <% products.forEach(product => { %>
                <li class="cart__item">
                    <h1><%= product.productId.title %></h1>
                    <h2>Quantity: <%= product.quantity %></h2>
                </li>
            <% }) %>
        </ul>
        <div class="centered">
            <h2>Total: <%= totalSum %></h2>
        </div>
        <div class="centered">
            <button id="order-btn" class="btn">Order</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                 const stripe = Stripe('pk_test_nubEaj7IKO6XRCLxQ6EjzXCw');
                 const orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', function() {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        });
                    });
            </script>
        </div>
    </main>

    <%- include("../includes/end.ejs") %>

